window,
dialog,
popover,
.titlebar,
.titlebar:backdrop,
button,
entry,
spinbutton,
dropdown,
combobox,
row:selected,
row:selected:backdrop,
toolbar {
    border-radius: 7px;
}

row,
list row,
.list row {
    padding-top: 4px;
    padding-bottom: 4px;
}

.card {
    border-radius: 7px;
}

.preferences-group {
    border-radius: 7px;
}

frame,
.frame {
    border-radius: 7px;
}

.nautilus-list-item:selected {
    border-radius: 7px;
}

.nautilus-list-item:selected {
    border-radius: 7px;
}

.nautilus-grid-view gridview>child:selected,
.nautilus-grid-view gridview>child:selected:backdrop {
    border-radius: 7px;
}

.nautilus-grid-view gridview>child:selected>*,
.nautilus-grid-view gridview>child:selected:backdrop>* {
    border-radius: 7px;
}